@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&family=Kings&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&family=Kaisei+Decol:wght@400;500;700&family=Kings&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rochester&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');

@font-face {
    font-family: 'Griun NltoTAENGGU';
    src: url('./assets/fonts/Griun_NoltoTAENGGU-Rg.ttf');
}

@font-face {
    font-family: 'Rage';
    src: url('./assets/fonts/RAGE_1.TTF') format('truetype');
}

body {
    background: linear-gradient(0deg, #0b0a1b 0%, #27405e 100%);
    min-height: 100dvh;
}

body::-webkit-scrollbar {
    display: none;
}
